{% extends 'processamento_imagens/base.html' %}  <!-- Herdando do template base -->

{% load static %}  <!-- Certifique-se de carregar 'static' para acessar arquivos estáticos -->

{% block content %}  <!-- Início do bloco de conteúdo -->
<div class="jumbotron text-center">  <!-- Introdução ao projeto -->
    <h1>Bem-vindo ao LIDA-RPAS</h1>
    <p>O Laboratório de Inovação, Desenvolvimento e Aplicação de Sistemas de Aeronaves Pilotadas Remotamente (RPAS) tem como foco aprimorar a detecção e controle de plantas invasoras em plantios florestais.</p>
    
    <!-- Botão para carregar imagem -->
    <a class="btn btn-primary mt-4" href="{% url 'upload_image' %}">Upload de Imagem</a>
</div>

<div class="container mt-4">  <!-- Seção "Sobre o Projeto" -->
    <h2>Sobre o Projeto</h2>
    <p>O projeto, liderado pelo professor Fernando Coelho Eugênio, utiliza RPAS equipados com câmeras multiespectrais para detectar e controlar a infestação de plantas invasoras em plantios florestais.</p>
    
    <!-- Detalhes do projeto -->
    <h3>Objetivos do Projeto</h3>
    <ul>
        <li>Desenvolver um sistema de mapeamento para identificar plantas invasoras.</li>
        <li>Adaptar uma plataforma RPAS para levantamentos aéreos.</li>
        <li>Avaliar algoritmos para identificação de plantas invasoras.</li>
        <li>Determinar o momento e o local ideais para intervenção em áreas invadidas.</li>
    </ul>

    <!-- Palavras-chave e outras informações -->
    <p>Com essa abordagem, o projeto busca melhorar a gestão florestal e reduzir os danos causados por plantas invasoras, permitindo uma detecção precoce e aprimorando a tomada de decisões.</p>
    
    <p>Palavras-chave: RPAS, deep learning, monitoramento florestal, plantas daninhas. Este projeto, focado em Diamantina, busca soluções sustentáveis para o controle de plantas invasoras em plantios florestais.</p>
</div>
{% endblock %}  <!-- Fim do bloco de conteúdo -->
