<!-- processamento_imagens/templates/processamento_imagens/upload.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Upload de Imagem</h2>
    <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.image.label_tag }} <!-- Label do campo de upload -->
            {{ form.image }}  <!-- Renderiza o input do arquivo -->
        </div>
        <button type="submit" class="btn btn-primary">Carregar Imagem</button>
    </form>
</div>
{% endblock %}
